@import "@fontsource/space-mono";
@import "@fontsource/space-mono/700.css";

body {
  /* Setting a background color directly doesn't work, so we set a gradient of two same colors */
  background: linear-gradient(to bottom, #f8f8f8, #f8f8f8);
}

.dark body {
  background: linear-gradient(to bottom, #191a23, #191a23);
}

footer {
  background: linear-gradient(to bottom, #fbfbfc, #fbfbfc);
}

.dark footer {
  background: linear-gradient(to bottom, #1c1d2a, #1c1d2a);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono";
  /* text-transform: uppercase; */
}

.logo {
  font-family: "Space Mono";
  font-weight: 700;
}

.nextra-banner-container {
  font-family: "Space Mono";
}

.nextra-sidebar-container {
  font-family: "Space Mono";
}

/* Hide background and shadow of lower left theme selector */
.nextra-sidebar-container .nx-sticky {
  box-shadow: none !important;
}

@media (min-width: 768px) {
  .nextra-sidebar-container .nx-sticky {
    background: linear-gradient(to bottom, #f8f8f8, #f8f8f8);
  }

  .dark .nextra-sidebar-container .nx-sticky {
    background: linear-gradient(to bottom, #191a23, #191a23);
  }
}

/* Hide background and shadow of Questions? container */
.nextra-toc * {
  background: none !important;
  box-shadow: none !important;
}

.nextra-sidebar-container a,
.nextra-sidebar-container button {
  font-family: "Space Mono";
}
