@import "@fontsource/space-mono";
@import "@fontsource/space-mono/700.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono";
  /* text-transform: uppercase; */
}

.logo {
  font-family: "Space Mono";
  font-weight: 700;
}

.nextra-banner-container {
  font-family: "Space Mono";
}

.nextra-sidebar-container {
  font-family: "Space Mono";
}

.nextra-sidebar-container a,
.nextra-sidebar-container button {
  font-family: "Space Mono";
}
